h1 {
  text-align: center;
  font-size: 35px;
  font-family: "Dancing Script", cursive;
}
h2 {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
}
form {
  text-align: center;
  padding: 10px;
}
input,
button {
  text-align: center;
  font-family: "Dancing Script", cursive;
}
i {
  padding: 0px 5px 0px 10px;
}
small {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 10px;
}
a {
  text-decoration: none;
}
.card-body-top {
  padding: 15px;
}
.card-body-bottom {
  padding-top: 4px;
  padding-bottom: 4px;
}
.card-title {
  margin: 0;
  padding: 10px;
}
.card-icon {
  text-align: center;
  padding: 5px;
  margin: 0;
  font-size: 30px;
}
.card-description {
  text-align: center;
  font-size: 12px;
}
.card-text {
  text-align: center;
  font-size: 65px;
  font-weight: normal;
}
.degree {
  float: right;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: black;
}
